{{define "favorites"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoris</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="/base" class="logo">Formula-Z</a>
            </div>
            <ul>
                <li><a href="/drivers">PILOTES</a></li>
                <li><a href="/results">RESULT</a></li>
                <li><a href="/circuits">CIRCUITS</a></li>
                <li><a href="/favorites">FAVORIE</a></li>
            </ul>
        </div>
    </header>

    <h1>Pilotes favoris</h1>
    <ul>
        {{range .}}
        <li>{{.GivenName}} {{.FamilyName}} (Numéro: {{.PermanentNumber}})</li>
        {{end}}
    </ul>
    
</body>
</html>
{{end}}
