{{define "favorites"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/favorites.css" />
    <!-- Police d'ecriture -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300&family=Sixtyfour&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Racing+Sans+One&display=swap"
      rel="stylesheet"
    />
    <title>Favoris</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="/base" class="logo">Formula-Z</a>
            </div>
            <ul>
                <li><a href="/drivers">PILOTES</a></li>
                <li><a href="/results">RESULT</a></li>
                <li><a href="/circuits">CIRCUITS</a></li>
                <li><a href="/favorites">FAVORIE</a></li>
            </ul>
        </div>
    </header>

    <h1>Pilotes favoris</h1>
    <ul class="liste">
        {{range .}}
        <li>
            <p>{{ .GivenName }} {{ .FamilyName }} - Numéro: {{ if .PermanentNumber }}{{ .PermanentNumber }}{{ else }}N/A{{ end }}</p>
            <form action="/remove_favorite" method="POST">
                <input type="hidden" name="permanentNumber" value="{{.PermanentNumber}}">
                <button type="submit">❌ Retirer</button>
            </form>
        </li>
        {{end}}
    </ul>
    
    
    
</body>
</html>
{{end}}
