* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  background: url('http://localhost:8080/assets/images/favoriteq_background.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100vh;
  overflow-x: hidden; /* Désactive le scroll horizontal */

  
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.29);
  z-index: -1;
}

header {
  background:transparent;
  padding: 50px 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  text-decoration: none; 
  color: #fff; 
  font-size: 25px; 
  font-weight: 300;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ff7802;
}

/* TITRE */
h1 {
  margin-bottom: 30px;
  font-size: 3.5rem;
    color: #ffffff;
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

/* LISTE FAVORIS */
ul {
  list-style: none;
  width: 80%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 18px;
}

ul li:last-child {
  border-bottom: none;
}

/* BOUTON SUPPRIMER */
button {
  background: #ff4b4b;
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #cc0000;
}
